.Text{
   color: brown;
   border: black;
}

.Card{
  color:blue;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px; /* Adjust this value according to your design */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
